$icon-font-path: '../fonts/';

.article-page {

  .header {

    .drop-navbar {
      border-bottom:1px solid #ebebeb;
    }

  }

  .article-flex-wrap {
    margin-top: 30px;
  }

  .page-head-block {
    margin-bottom: 30px;
  }

  .page-heading {
     font-family: 'MetaPro', sans-serif;     
     color: #363636;
     font-weight: 800;
  }  

  .allocation-block {
    border: 1px solid #a3d39c;
    padding: 50px 70px;    
    color: #424242;
    position: relative;
    margin-top: 30px;

    &:before {
      content:"";
      background-image: url(../images/icon-allocation.png);
      background-color: #fff;
      background-position: 50% 50%;      
      background-repeat: no-repeat;
      width: 76px;
      height: 41px;
      display: block;
      position: absolute;
      top: -21px;
      left: 50%;
      margin-left: -38px; 
    }

  }

  .allocation-block-heading {
    font-family: 'MetaPro', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .text-list {
    margin-top: 45px;
  }

  .text-item {
    list-style-image: url(../images/icon-allocation-list.png);
    font-size: 16px;
    font-weight: 600;
    margin:10px 0;
    line-height: 1.5em;
    padding-left: 10px;   

  }

}

  
  