$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

.autor-page {  

   .border-block {   
    margin-bottom: 30px;
   }

  .autor-img-block {
    width: 478px;
    height: 484px;
    margin: 0;   
  }

  .autor-img-block-3 .template-img {
    background-size: 478px 484px;
    background-position: 0 0;
     width: 478px;
    height: 484px;
  }

  .autor-description-wrap {    
    color: #363636;
  }

  .autor-title-name {
    font-family: 'MetaPro', sans-serif; 
    font-size: 38px;
    font-weight: 700; 
    margin-bottom: 3px;   
  }

  .autor-description {
    font-family: 'MetaPro', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 19px;
  }

  .autor-description-text {
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
  }

}

  
  