$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

.card-page {  

  .carousel-inner {       
     position: relative;
  }   



   .slide-number {
    font-family: 'MetaPro', sans-serif;    
    font-size: 100px;
    color: #a1d39c;
    text-align: center;
    display: block;

    &:before {
     content: "";
     background: #a1d39c;
     display: block;
     width: 72px;
     height: 6px; 
     display: inline-block;
     text-align: center;
     vertical-align: middle;       
    }

      &:after {
     content: "";
     background: #a1d39c;
     display: block;
     width: 72px;
     height: 6px; 
     display: inline-block;
     text-align: center;
     vertical-align: middle;        
    }

  } 

  

  .carousel-control-left {
    background-image: none;
    position: absolute;
    left: 50%; 
    margin-left: -60px;
    top: 15px;  

  }

 .carousel-control-right {
    background-image: none;
    position: absolute;
    right: 50%; 
    margin-right: -60px; 
    top: 15px;  

  } 

  .slider-content-wrap {
    background: #f4faf3;
    padding: 0 45px 45px 45px;
    position: relative; 
    //height: 858px;
    margin-top: 60px;
    }

    .article-slider {
      margin-top: 50px;
      margin-bottom: 30px;
    } 

}

  
  