@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro.eot');
  src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro.woff') format('woff'),
  url('../fonts/Intro.ttf') format('truetype'),
  url('../fonts/Intro.svg#Intro') format('svg');
  font-weight: 100;
  font-style: normal;
}
