$icon-font-path: '../fonts/';

.footer {
	background: #f1f2f4;	
	display: flex;
	justify-content: space-between;

	.form-input {		
		background: #f1f2f4;
		
	}

	.form-button {		
		margin-left: -5px;
		vertical-align: top;
	}
}

.footer-logo-block {	

	.logo-template {
    background: url(../images/logo-life-invert-gray.svg) -11px -8px no-repeat;
    background-size: 336px 60px;
    width: 231px;
    height: 60px; 
    position: absolute;
    top: 0;
    z-index: 30;
     
  }

}

.footer-flex-block {
	padding:45px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.mobile-flex-wrap-top {
	display: flex;
   justify-content: space-between;
   width: 37%;
}

.mobile-flex-wrap-bottom {
	display: flex;
   justify-content: space-between;
   width: 60%;
}

.icon-search-hover {
		background: url(../images/icon-search.svg) no-repeat;
		width: 20px;
    height: 21px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    vertical-align: middle;

    &:after {
    	content: "";
    	background: url(../images/icon-border.svg) no-repeat;
	    background-size: cover;
	    width: 39px;
	    height: 39px;
	    display: inline-block;
	    position: absolute;
	    top: 50%;
	    margin-top: -20px;
	    left: 50%;
	    margin-left: -19px;
    }

		&:focus {
			background: url(../images/icon-search-hover.png) no-repeat;
		}

	}

	.net-block {
		display: flex;
		justify-content: space-between;

		a {
			display: inline-block;
			margin-right: 17px;
		}

	}	

	.footer-about-us {

		a {
			color: #333333;
			font-size: 14px;
			text-decoration: underline;

			&:hover {
				color: #333333;
				text-decoration: underline;
			}

		}

	}

	.footer-copyright-wrap {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.footer-about-us-text {
		font-size: 16px;
		margin-bottom: 2px;
	}

	.copyright {
		width: 255px;
		margin-left: 50px;
	}

	.copyright-text {
		color: #b1b1b1;
		font-size: 13px;
		
	}

	/*--------------------------------------------footer white----------------------------------------------------*/

	.footer.white {
			background: #fff;

			.form-input {
				background: #fff;
			}

			.footer-logo-block {	

				.logo-template {
					background: url(../images/logo-life-invert.svg) -11px -8px no-repeat;
					 background-size: 336px 60px;
				    width: 231px;
				    height: 60px; 
				    position: absolute;
				    top: 0;
				    z-index: 30;			   
				}

			}

		}

	