$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

.header {

  .navbar-default {
    background: #fff;
    border-color: #fff;
    border-radius: 0;
    position: relative;
    margin-top: -53px;
  }

  .navbar-button-mob {
    float: left;
    background: #fff;     
    width: 15px;
    height: 17px;
    margin-left: 3px;
    padding: 0;
    vertical-align: middle;
      &:focus {
        border:none;
        box-shadow: none;
        border-color: transparent;
      }

      .icon-bar {
      background: #7c7c81;
      display: block;
      width: 100%;
      height: 1px;
      margin: 5px 0;

      &:first-child {
        margin-top:0;
      }

    }

  }

    
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav {
    padding-left: 0;
    padding-right: 0;    


  li {
    text-transform: uppercase;      
    display: inline-block;
    float: none;     

    }


    .navbar-link_color-1 a:hover {   
      color: #eb7b8b;
    }

    .navbar-link_color-2 a:hover {   
      color: #94c08e;
    }

    .navbar-link_color-3 a:hover {   
      color: #ecba83;
    }

    .navbar-link_color-4 a:hover {   
      color: #8781bd;
    }

    .navbar-link_color-5 a:hover {   
      color: #6ec8c9;
    }

  }

  .logo-block {
    text-align: center;
    margin: 13px auto;
  }

  .top-logo-block {
    text-align: center;
    margin: 13px auto;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 0;

    .navbar-link { 

      .navbar-link-inside {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px; 
        font-weight: 400;
        color: #828282;
        &:hover {
          background: none;
           color: #eb7b8b;
        }

        &:hover {
          background: none;
           color: #eb7b8b;
        }

        &:focus {
          background: none;
           color: #eb7b8b;
        }

      }

    }  

  }

  .logo {
    display: inline-block;
    position: relative;
    z-index: 10
  }

  .navbar-nav-left {
    width: 40%;
    float: left;
    text-align: right;
  }

  .navbar-nav-right {
    width: 40%;
    float: right;
    text-align: left;
  }

    /*кнопка от УП*/

    /*.logo-up-button {
      background: #fff;
      display: inline-block;
      width: 11px;
      height: 10px;
      margin-left: 3px;
      padding: 0;
      vertical-align: middle;
        &:focus {
          border:none;
          box-shadow: none;
          border-color: transparent;
        }
    }

    .button-border {
      background: #7c7c81;
      display: block;
      width: 100%;
      height: 1px;
      margin: 3px 0;

      &:first-child {
        margin-top:0;
      }

    }

    .logo-up-button.collapsed {

      .top-drop-menu {
          display: none;
      }

    }*/ /*кнопка от УП конец*/

  .navbar {
   min-height: auto;
  }

  .navbar-link {
    float: none;

    .navbar-link-inside {
      font-family: 'MetaPro', sans-serif;
      font-size: 14px;
      font-weight: 800;
      color: #000;
      padding-top: 0;
      padding-bottom: 0;
    }

  }   

  .login-wrap {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .login-button {
    background: url(../images/icon-login.png) no-repeat;
    width: 23px;
    height: 25px;
    display: inline-block;
    margin-right: 40px;
  }

  .search-button {
    background: url(../images/icon-search.png) no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
  }

    .drop-navbar {
    margin-top: 27px;
    border-top: 1px solid #ebebeb;
  }

  .content-menu {
    text-align: center;
    margin-left: 0;
    padding: 20px 0;
    -webkit-padding-start: 0;
  }

  .content-menu {

    .navbar-link {
      display: inline-block;
      padding: 0 15px;

      .content-menu-link-inside {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #828282;
       text-transform: uppercase;
       text-decoration: none;

       &:hover {
        color: #eb7b8b;
        }

      }

    }

  } 

}
