$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

.interview-page {

  .page-head-block {

    .head {    
      line-height: normal;
      text-align: center;
      max-width: 960px;
      margin: 0 auto;
      font-weight: 600;    
    }

  }

  .article-flex-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
  }

  .article {

    .article-announcement-block {
      display: flex;
      flex-wrap:nowrap;
    }

    .content-block-column {
      float: left;
      margin-right: 20px;

      .img-wrap {
      margin-bottom: 0;
      width: 300px;
      height: 250px;

        .head {          
          text-align: center;
          margin-top: 3px;
          margin-bottom: 14px;
        }

      }

      .article-announcement-text {
        font-size: 16px;
      }

    }

      .info-block-head {
        margin-bottom: 15px;
      }

  }

  

  .statistic-top-block {
    position: static;
    justify-content: center;
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 30px 0;

    a {
      color: #363636;
      &:hover {
        color: #363636;
      }

    }

    .statistic-text {
      font-size: 16px;
    }

    .look-block,
    .comment-bottom-block,
    .data-block {
      margin: auto 0 auto 50px;    
    }

  }



  

  .article {
    margin-top: 20px;
  }

  .article-description {
    font-family: 'MetaPro', sans-serif;
    font-weight: 700;    
    line-height: 1.3em;
  }

  .article-text {    
    line-height: 1.5em;
    padding: 3px 0;
  }

  /*-----------------------slider-----------------------*/

  .article-slider {
    margin-bottom: 20px;
  }

  .carousel {
    margin: 40px auto 20px;
  }

  .owl-nav {
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin-left: -90px;
    top: 100%;
    width: 180px;
    margin-top: 25px;
  }

  .owl-prev {
     background: url(../images/icon-left-pointer.png) no-repeat;
     width: 49px;
     height: 16px;
     display: inline-block;
  }

  .owl-next {
    background: url(../images/icon-right-pointer.png) no-repeat;
     width: 49px;
     height: 16px;
     display: inline-block;
  }

  .pager {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #9b9b9b;
    margin: 0 auto 30px;
  }

  /*-----------------------slider end-----------------------*/

  .img-description {
    font-size: 14px;
    color: #363636;
    font-style: italic;
    display: inline-block;
    margin:15px auto 15px 0;
  }

  
  .quote-color {
    color: #ed6c7e;
    font-size: 24px;
    font-style: italic;
    border: 1px solid #ed6c7e;
    position: relative;
    text-align: center;
    padding: 38px;
    font-weight: 100;
    margin:45px auto;

    &:after {
      content: "";
      background: url(../images/icon-quote-color.png) no-repeat;
       width: 41px;
       height: 35px;    
      display: inline-block;
      position: absolute;
      top: -35px;
      right: 10%;
    }

  }

  
  .quote {
    font-size: 24px;
    font-style: italic;
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
    padding: 38px;
    font-weight: 100;
    margin:45px auto;
    position: relative;
    text-align: center;

    &:before {
      font-family: 'MetaPro', sans-serif;
      content: "«";
      display: block;
      text-align: center;     
      margin: 0 auto;
      font-size: 60px;
      color: #000;
      width: 80px;
      height: 60px;
      background: #fff;
      font-style: normal;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      top: -46px;
    }

    &:after {
      content: "»";
      font-family: 'MetaPro', sans-serif;     
      display: block;
      text-align: center;     
      margin: 0 auto;
      font-size: 60px;
      color: #000;
      width: 80px;
      height: 60px;
      background: #fff;
      font-style: normal;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: -14px;
    }

  }

  .article-img-wrap {
    margin: 20px 20px 20px 0;
    float: left;
    max-width: 410px;

    img {
      width: 100%;
    }

  }

  .info-block {
    background: #eff2f4;
    overflow: hidden;
    width: 340px;
    padding: 20px 6px;
    float: left;
     margin: 20px 20px 20px 0;

    .column {
      margin-bottom: 0;

    }

  } 

  .info-block-head {
    font-family: 'MetaPro', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  } 

  .login-wrap {
    display: flex;    
    margin: auto;
    justify-content:center;
    padding:30px 0;

    .form-button {
      margin-right: 15px;
    }

    .login-popup-text {
      display: inline-block;
      margin: auto 0;
    }

  }

  .main-page-block {

    .img-wrap {
      margin-bottom: 30px;
    }

  }

  /*---------------------------------------sidebar----------------------------------------------*/

  .sidebar {    

    .autor-name {
      color: #363636;
      display: block;
      margin-bottom: 10px;
    }

    .article-announcement-text {
      font-size: 14px;
      color: #aaaaaa;

      &:hover {
        font-weight: 100;
      }

    }

    .sidebar-blurb-block {
      margin: 20px auto;
    }

  }

  .sidebar-article-block {
    padding: 10px 25px;

    .autor-name {
      font-size: 14px;
      text-align: center;
    }

    .sidebar-article-wrap {
      margin-top: 15px;
      border-top: 1px solid #e9e9e8;
      padding: 15px 0;

      &:last-child {
        border-bottom: 1px solid #e9e9e8;
      }

    }

    .statistic-bottom-block {
      position: static;
     justify-content:center;

      .statistic-text {
        color: #363636;
      }

      .look-block {
        margin-right: 15px;
      }

    }

  }

  .sidebar-article-description {
     font-family: 'MetaPro', sans-serif;
    font-size: 16px;    
    text-align: center;
    margin-top: 5px;

    a{
      color: #26272d;
      &:hover {
        text-decoration: none;
      }
    }
    
  }

  /*-------------------------------------------end sidebar------------------------------------------------*/

}

  
  