$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (max-width:568px) {

  .pagewrap {
    max-width: 550px;

   

    .content-block-column {

    }

     
    .autor-block {
			margin: 0 auto;
    }

  }	 

/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.article {
			
		}
	}

	.page-head-block {

		.head {
			font-size: 30px;
		}

	}



	

}