$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (max-width:568px) {

  .pagewrap {
    max-width: 550px;

   

    .content-block-column {

    }

     
    .autor-block {
			margin: 0 auto;
    }

  }	 

/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.statistic-top-block {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
		
		.net-block,
		.comment-bottom-block,
		.look-block {
			margin: auto;
		}

		.data-block {
			display: none;
		}

	}


		.article {

			.content-block-column {
				float: none;
				margin: 10px auto;
			}

		}

		.quote-color {
			padding: 10px;
		}

		.article-img-wrap {
			float: none;
			margin: 10px auto;
			width: 100%;
		}	

		.page-head-block {

			.head {
				font-size: 30px;
			}

			.text-block {
				bottom: 0;
			}

		}	

	}

}