$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (max-width:375px) {

  .pagewrap {
    max-width: 350px;  

  }

  .footer-form-wrap {

  	.form-input,
  	.form-button {
			display: block;
			margin: 0 auto;
  	}

  	.form-button {
			margin-top: 10px;
  	}

  }

  .icon-search-hover {
  	display: block;
  	margin: 15px auto 0;

  }

.card-page {

    .slide-number {
      font-size: 70px;

        &:before {
       content: "";
       background: #a1d39c;
       display: block;
       width: 0;
       height: 0; 
       display: inline-block;
       text-align: center;
       vertical-align: middle;       
      }

        &:after {
       content: "";
       background: #a1d39c;
       display: block;
       width: 0;
       height: 0; 
       display: inline-block;
       text-align: center;
       vertical-align: middle;        
      }
      
    }

  }  

	 

/*----------------------------------------------interview-------------------------------------*/

	.interview-page {


		.page-head-block {

			.text-block {
					bottom: 10px;
				}

			.head {
				font-size: 20px;
			}

		}

	}	

  /*------------------------------------------poglyuad-------------------------------------------------------------------*/

  .poglyad-page {

    .content-wrap {
      max-width: 305px;
    }

    .content-block-max {

      .autor-block  {
        padding: 0;

        .autor-img-block {
          width: 275px;
           height: 300px;

          .template-img {           
          width: 305px;
          height: 300px;
          }

        }      

      }

       .autor-block-name {
        font-size: 12px;
      }

      .autor-block-head {
        font-size: 20px;
        }

      .autor-block-description {
        font-size: 12px;
      }

    }  

  }

  /*---------------------------------------------------------special-----------------------------------------------------------*/

    .special-page {
      
    .page-head-block-description {
      font-size: 14px;
    }

  }   


}