$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (max-width:568px) { 

 .header {
    max-width: 300px;
    margin: 0 auto 37px;
  } 

  .content-block-max {
     max-width: 300px;
  }       

  .pagewrap {
    max-width: 550px;
   

   .content-wrap {
      max-width: 305px;     
      justify-content: center;      
    }

    .content-block-center {
      width: 300px;
      

      .img-wrap {
        width: 300px;
        height: 250px;
      }
      
    }

    .content-block-center, .content-block-column {
    
      .heading {
        font-size: 12px;
      }

      .head {

        a {
          font-size: 22px;
        }
        
      }

    }

    .autor-block {
    margin: 0 auto;
    }



    .owl-carousel-1 {

      .item-wrap {
        width: 300px;
        margin: 0 auto;
      }

      .img-wrap {
        margin: 0 auto;
      }

    }

    .responsive-block-13 {      
      width: 300px;
      display: block;
      margin: 0 14px;

      .img-wrap {
			margin: 0;
			margin-bottom: 30px;

         &:last-child {
          margin-left: 0;
        }

        &:first-child {
          margin-right: 0;
        }

      }

    }      

  }

  

  .form-button  {
    margin-top: 0;
  } 
	 

/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.responsive-block-13 {      
     
      .img-wrap {      

         &:last-child {
          margin-left: 0;
        }

        &:first-child {
          margin-right: 0;
        }

      }

    }

		.statistic-top-block {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
		
		.net-block,
		.comment-bottom-block,
		.look-block {
			margin: auto;
		}

		.data-block {
			display: none;
		}

	}


		.article {

			.content-block-column {
				float: none;
				margin: 10px auto;
			}

		}

		.quote-color {
			padding: 10px;
		}

		.article-img-wrap {
			float: none;
			margin: 10px auto;
			width: 100%;
		}	

		.page-head-block {

			.head {
				font-size: 30px;
			}			

		}	

	}

	/*--------------------------------------------------------------autor-----------------------------------------------*/

	.autor-page {

		 .autor-img-block {      
      width: 215px;
      height: 217px;
    }

    .autor-img-block-3 .template-img {
      background-size: 215px 217px;
      background-position: 0 0;
      width: 215px;
      height: 217px;
    }

    .autor-title-name {
    	font-size: 28px;
    }

    .autor-description {
    	font-size: 18px;
    } 

    .autor-description-text {
    	font-size: 16px;
    }  

	}

	/*-------------------------------------------------------card1-----------------------------------------------------------*/

  .card1-page {

  	.card-article-wrap {
    	margin-top: 0;
		}

  	.card-left-block-text {
  		font-size: 28px;
  	}

  	.card-right-block-text {
			font-size: 12px;
  	}

  	.card-img-wrap{

      &:before {
        content: "";
        background: url(../images/icon-pointer-white.png) no-repeat;
        background-size: 64px 53px;
        display: block;
        width: 64px;
        height: 53px;
        position: absolute;
        left: 25px;
        bottom: -2px;       
      }

    }

		.image-number {	        
	    font-size: 73px;	    
	  } 

    .image-number-border-1 {
    	background-size: 118px 110px;	   
	    width: 118px;
	    height: 110px;   
	    margin-top: -59px;   
	    margin-left: -55px;    
	  }

  .image-number-border-2 {	
  		background-size: 112px 120px;   
	    width: 112px;
	    height: 120px;   
	    margin-top: -56px;    
	    margin-left: -60px;
	  }

  .image-number-border-3 {
  		background-size: 112px 108px;	   
	    width: 112px;
	    height: 108px;   
	    margin-top: -54px;    
	    margin-left: -54px;
	  }

  .image-number-border-4 {
  		background-size: 111px 120px;	    
	    width: 111px;
	    height: 120px;   
	    margin-top: -55px;    
	    margin-left: -60px;
	  }

   .image-number-border-5 {	
   		background-size: 107px 107px;    
	    width: 107px;
	    height: 107px;   
	    margin-top: -53px;    
	    margin-left: -54px;
	  }     

  }

  /*-----------------------------------------------------longrid-----------------------------------------------------*/

  .longrid-page {

		.autor-block-left {
      margin: 0 auto 55px;
    }

  }


  /*----------------------------------------------poglyad----------------------------------------*/

  .poglyad-page {

  	.pagewrap {

	  		.content-wrap {
					max-width: 100%;
	  		}

		  	.autor-block {
	        margin: 0 auto;
	      }

	  	}

  	.content-block-max {
  		max-width: 100%;
  		padding: 0 15px;
  	}

  }

  /*---------------------------------------------------------special-----------------------------------------------------------*/

	  .special-page {	  	
	    
    .page-head-block-description {
			font-size: 18px;
    }

    .top-heading {
    	font-size: 12px;
    }

	}       

}