$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (max-width:375px) {

  .pagewrap {
    max-width: 350px;  

  }

  .footer-form-wrap {

  	.form-input,
  	.form-button {
			display: block;
			margin: 0 auto;
  	}

  	.form-button {
			margin-top: 10px;
  	}

  }

  .icon-search-hover {
  	display: block;
  	margin: 15px auto 0;

  }

	 

/*----------------------------------------------interview-------------------------------------*/
	.page-head-block {

		.head {
			font-size: 20px;
		}

	}

}