$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (max-width:767px) {

  .pagewrap {
    max-width: 80%;

    .content-block-column {
        width: 100%;

        .heading {
        font-size: 16px;

        }

      .head {

        a {
          font-size: 40px;
          line-height: 1em;
        }
        
      }

    }   

  }

  .banner {
    display: none;
  }

  .content-block {
    width: 100%;
  }

  .content-block-center {
    width: 100%;
  }

  .navbar-form {
    display: none;
  }

  .collapse.in {

    .navbar-link {
      display: block;
    }

  }

  .navbar-button-mob {
    display: block;
  }

  .header{
    margin-bottom: 37px;

   .navbar-default-top {
     margin-top: 0;
   }

    .top-logo-block {   

        .logo{
        display: none;
      }

    } 

  }

  .drop-navbar {
    display: none;
    }

  .modal-dialog-flex {
    flex-direction: column;    
  }

  .left-mobile-menu-block {
    border-right: none;
  }

  .menu-mob {
    .content-menu {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    }

  }

  .footer-flex-block {
    flex-direction: column;
  }

  .mobile-flex-wrap-top {
  display: flex;
   justify-content: center; 
    flex-direction: column;  
   width: 100%;
  } 

  .mobile-flex-wrap-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top:50px;
  }

  .footer-copyright-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  }

  .net-block {
    justify-content:center;
    margin-top: 30px;
  }

  .copyright {
    margin-left: 0; 
    margin: 30px auto 0;
    }

    .footer-form-wrap,
    .footer-about-us-text,
    .footer-logo,
    .footer-about-us-link {
    text-align: center;
  }    



/*----------------------------------------------interview-------------------------------------*/

  .interview-page {

    .article-flex-wrap {
      flex-direction: column;
    }

    .statistic-top-block {
      border-top: 1px solid #ebebeb;
    }

    .page-head-block {

      .head {
        font-size: 30px;
      }

    }

    .article {

      .content-block-column {

        a {
        font-size: 22px;
        }

        .heading {
          font-size: 12px;
        }

        .autor-name {
          font-size: 14px;
        }

      }      

    }

  .article-column {
      order:2;
      width: 100%;
    }

    .sidebar {
      order:1;
      width: 100%;
      flex-direction: row;
    }

    .sidebar-autor-block {
      display: flex;
      justify-content: center;

      .article-announcement-photo {
        display: none;
      }

    }

    .article-announcement-block {
      display: flex;
    }

    .autor-desctiption {
      display: none;
    }

    .autor-name {
      padding-top: 10px;
    }

    .sidebar-blurb-block {
      display: none;
    }

    .sidebar-article-block {
        display: none;
    }

  } 

  .article-description {
    font-size: 18px;
  }

  .article-text {
    font-size: 16px;
  }  

}