$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:1024px) {

	.header {
		width: 965px;
		margin: 0 auto 37px;
	}

  .pagewrap {
    width: 1000px;

    .content-wrap {
   		width: 990px;
   		margin: 0 auto;
    }

    .responsive-block-13 {      
      width: 300px;
      display: block;
      margin: 0 14px;

      .img-wrap {
		margin: 0;
		margin-bottom: 30px;
      }  

  	}

  }	

  .modal-dialog-flex {	  
  justify-content: space-between;
	 
}




/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		

		.sidebar-autor-block {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .article-announcement-photo {
        display: inline-block;        
      }

    }	

		.article-flex-wrap	{
			flex-direction: column;
		}

		.article-wrap {
    	max-width: 900px;    
  	}

  	.sidebar {
    	max-width: 900px;  
    	display: flex;	    
	    width: 100%;
	    justify-content: center;
	    
  	} 	

		.page-head-block {

			.head {
				font-size: 66px;
			}

		}

		.article-description {
			font-size: 22px;
		}

		.article-text {
			font-size: 18px;
		}

		.autor-text {
			font-size: 24px;
		}

	}

}