$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:1366px) {
	
	.header{
		margin-bottom: 0;

		.navbar-nav {
			display: block;
		}

		.navbar-button-mob {
			display: none;
		}	

		.navbar-default-top {	        
		    border-top: 1px solid #ebebeb;
		    border-bottom: 1px solid #ebebeb;
		}

		.drop-navbar {
			display: block;
		}

	}

	.pagewrap {
		width: 1305px;	

		.responsive-block-1 {
			order:1;
		}

		.responsive-block-2 {
			order:2;
		}

		.responsive-block-3 {
			order:3;
		}

		.responsive-block-4 {
			order:10;
		}

		.responsive-block-5 {
			order:4;
		}

		.responsive-block-6 {
			order:5;
		}

		.responsive-block-7 {
			order:6;
		}

		.responsive-block-8 {
			order:7;
		}

		.responsive-block-9 {
			order:9;
		}

		.responsive-block-10 {
			order:8;
		}

		.responsive-block-11 {
			order:14;
		}

		.responsive-block-12 {
			order:12;
		}

		.responsive-block-13 {
			order:11;
		}

		.responsive-block-14 {
			order:10;
		}

	}

	.owl-nav {
		display: none;
	}

.mobile-flex-wrap-top {
display: flex;
justify-content: space-between;
width: 45%;
}

.mobile-flex-wrap-bottom {
	display: flex;
   justify-content: space-between;
   width: 50%;
   margin-top: 0;
}





/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.statistic-top-block {
			padding-top: 0;
		}

		.article-flex-wrap	{
			flex-direction: row;
		}

		.statistic-top-block {
			border-top: none;
		}

		.page-head-block {

			.head {
				font-size: 74px;
			}

		}

		.article-column {
    width: calc(100% - 330px);
    margin: 0 auto;
    order: 1;
  	}

  	.article { 		
  		

  	}  

		.sidebar {			
	    display: flex;
	    flex-direction: column;
	    width: 300px;
	    order: 2
		}

		.sidebar-autor-block {
			display: block;			
		}

		.article-announcement-block {
			display: block;
		}

		.autor-desctiption {
			display: block;
		}

		.autor-name {
			padding-top: 0;
		}

		.sidebar-blurb-block {
			display: block;
		}

		.sidebar-article-block {
			display: block;
		}

	}	    

}