$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:768px) {

	.pagewrap {
	width: 80%;
	}

	.header {
	margin-bottom: 37px;
	}

	.navbar-button-mob{
	display: block;
	}

  .content-block-center {
    float: left;
    width: 24%;
  	}

  .navbar-nav {
  	display: none;
  	}

  	.drop-navbar {
  	display: none;
  	}

  	.footer-flex-block {
    flex-direction: column;
  }

  .mobile-flex-wrap-top {
  display: flex;
   justify-content: center; 
    flex-direction: column;  
   width: 100%;
  } 

  .mobile-flex-wrap-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top:50px;
  }

  .net-block {
  	justify-content:center;
  	margin-top: 30px;
  } 

	.footer-copyright-wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	}

	.copyright {
	margin-left: 0;	
	margin: 30px auto 0;
	}

	.footer-form-wrap,
  	.footer-about-us-text,
  	.footer-logo,
  	.footer-about-us-link {
    text-align: center;
  } 



/*----------------------------------------------interview-------------------------------------*/
	.interview-page {

		.head {
			font-size: 45px;
		}

	}

}