$icon-font-path: '../fonts/';

@media only screen and (min-width:1200px) {

	.pagewrap {
		width: 1100px;
		margin: 0 auto;
	}

	.header{
		margin-bottom: 0;
		width: 100%;

		.navbar-nav {
			display: block;
		}

		.navbar-top-nav-left {
			width: 41%;
		}

		.navbar-top-nav-right {
			width: 39%;
		}

		.navbar-nav-right {
			width: 38%;
		}

		.navbar-nav-right {
			width: 38%;
		}

		.navbar-button-mob {
			display: none;
		}	

		.navbar-default-top {			    
		    border-bottom: 1px solid #ebebeb;
		}

		.drop-navbar {
			display: block;
		}

	}



/*----------------------------------------------interview-------------------------------------*/

	.interview-page {
		

		.page-mobile-wrap {
      width: 1320px;
    }

		.statistic-top-block {
			padding-top: 0;
		}		

		.statistic-top-block {
			border-top: none;
		}

		.page-head-block {

			.head {
				font-size: 66px;
			}

			.text-block {
				bottom: 65px;
			}

		}

		.article-wrap {
    	max-width: 780px;    
  	} 

		.article-flex-wrap	{
			flex-direction: row;
    		max-width: 1075px;    
  		}
		

		.article-description {
			font-size: 24px;
		}

		.sidebar {
			display: block;
			width: 300px;
			order: 2;
			margin-left: 30px;
			flex-direction:row;

			.autor-name {
			margin-bottom: 10px;
			}

		}

		.mobile-block-wrap {
			display: flex;
			flex-direction:column;
		}

		.article-column {
	    width: calc(100% - 330px);
	    margin: 0 auto;
	    order: 1;
  	}

  	.article-left-column {
  		margin: 0 auto 0 0;
  	}

  	.article {  		
			margin-top: 20px;
  	}  

		.img-description {
			margin-left: 0;
		}

		.sidebar-autor-block {
			display: block;			
		}		

		.article-announcement-text {
			display: inline-block;
		}

		.autor-desctiption {
			display: block;
		}

		.autor-name {
			margin-bottom: 10px;
		}

		.sidebar-autor-block {
			margin-bottom: 20px;

			.article-announcement-photo {
				width: 84px;
				height: 84px;
			}

		}

		.sidebar-blurb-block {
			display: block;
			order: 0;
		}

		.sidebar-article-block {
			display: block;
		}

	}  	  

}