$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:1920px) {

	.pagewrap {
		width: 1645px;

		 .content-wrap {
   		width: 100%;
		margin: 0 -14px;
    	}  			

		.responsive-block-1 {
			order:1;
		}

		.responsive-block-2 {
			order:2;
		}

		.responsive-block-3 {
			order:3;
		}

		.responsive-block-4 {
			order:4;
		}

		.responsive-block-5 {
			order:5;
		}

		.responsive-block-6 {
			order:6;
		}

		.responsive-block-7 {
			order:7;
		}

		.responsive-block-8 {
			order:8;
		}

		.responsive-block-9 {
			order:9;
		}

		.responsive-block-10 {
			order:10;
		}

		.responsive-block-11 {
			order:11;
		}

		.responsive-block-12 {
			order:12;
		}

		.responsive-block-13 {
			order:13;
		}

		.responsive-block-14 {
			order:14;
		}
	}

	.owl-nav {
		display: none;
	}

	
	.footer-copyright-wrap {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.copyright {   
    margin-left: 50px;
    margin-top: 0;
	}

	.footer{

		.mobile-flex-wrap-top {	
   	width: 37%;
   	}		

		.mobile-flex-wrap-bottom {			
	   width: 60%;
		}

	}

	/*-----------------------------------------interview--------------------------------------------------------------------*/

	.interview-page {


		.page-mobile-wrap {
	      width: 1645px;
	  }

	  .page-head-block {

			.head {
				font-size: 74px;
			}
		
		}

		.article-description {
			font-size: 28px;
		}

	}

/*-----------------------------------------------------autor-----------------------------------------------------------------------*/

	.autor-page {

		.sidebar {
			display: block;
		}
	}

/*-----------------------------------------------------longrid-----------------------------------------------------*/

	.longrid-page {
		
		.article-image-block-flex {  
    justify-content: flex-start;    
  	} 

	}	

}
