$icon-font-path: '../fonts/';

@media only screen and (min-width:1024px) {

	.header {
		width: 100%;
		margin: 0 auto 37px;
	}

  .pagewrap {
    width: 660px;

    .content-wrap {
   		width: 660px;
   		margin: 0 auto;
    }    

	}
  	

    .modal-dialog-flex {	  
    justify-content: space-between;
	 
  }





/*----------------------------------------------interview-------------------------------------*/

	.interview-page {		

		.sidebar-autor-block {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .article-announcement-photo {
        display: inline-block;        
      }

    }	

		.article-flex-wrap	{
			flex-direction: column;
		}

		.article-wrap {
    	max-width: 900px;    
  	}

  	.sidebar {
    	max-width: 900px;  
    	display: flex;	    
	    width: 100%;
	    justify-content: center;
	    
  	} 	

		.page-head-block {

			.head {
				font-size: 66px;
			}

		}

		.article-description {
			font-size: 22px;
		}

		.article-text {
			font-size: 18px;
		}

		.autor-text {
			font-size: 24px;
		}

	}

  /*--------------------------------------------------------error------------------------------------------------*/      

  .error-page {

    .error-page-wrap {
      padding: 0;
    }

  }

}