$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:768px) {

	.header {
		width: 633px;
		margin: 0 auto;
		
	}

	.pagewrap {
	width: 750px;	

		.content-wrap {
     width: 657px;
      margin: 0 auto;
  	}

		.responsive-block-13 {      
      width: 633px;
      display: flex;
      margin: 0 auto;

      .img-wrap {
				margin: 0 14px;
      }

    }

	}	

	.header {
	margin-bottom: 37px;
	}

	.navbar-button-mob{
	display: block;
	}

	

	   .responsive-block-1 {
      order:2;
    }

    .responsive-block-2 {
      order:1;
    }
 
    .responsive-block-3 {
      order:3;
    }
    .responsive-block-4 {
      order:4;
    }


    .responsive-block-5 {
      order:5;
    }

    .responsive-block-6 {
      order:6;
    }

    .responsive-block-7 {
      order:7;
    }

    .responsive-block-8 {
      order:8;
    }

    .responsive-block-9 {
      order:4;
    }

    .responsive-block-10 {
      order:10;
    }

    .responsive-block-11 {
      order:11;
    }

    .responsive-block-12 {
      order:12;
    }

    .responsive-block-13 {
      order:13;
      
    }

    .responsive-block-14 {
      order:9;
    }

	

  .navbar-nav {
  	display: none;
  	}

  	.drop-navbar {
  	display: none;
  	}

  	.content-block-column {
  		width: 100%;
  	}

   .footer {

  	.mobile-flex-wrap-top {
	  display: flex;	    
	  width: 100%;

		  .net-block {
	    justify-content:center;	      
	    }

  	} 

  	.mobile-flex-wrap-bottom {
    display: flex;   
    width: 100%;
    margin-top:50px;
  	}   

  }	

  	.footer-flex-block {
    flex-direction: column;
  }

  .footer-logo-block {
		margin-left: 0;
  }
  

	.footer-copyright-wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;	
	}

	.copyright {
	margin-left: 0;	
	margin: 30px auto 0;
	}

	.footer-form-wrap,
  	.footer-about-us-text,
  	.footer-logo,
  	.footer-about-us-link {
    text-align: center;
  } 



/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.page-mobile-wrap {
			width: 100%;
		}

		.article-flex-wrap {
			flex-direction: column;
			width: 100%
		}

		.article-wrap {
    	max-width: 655px;    
  	} 

  	.sidebar {
    	max-width: 655px;
    	margin: 0 auto;
    	flex-direction:column;    
  	}   

		.article {
			margin-top: 20px;
		}

		.statistic-top-block {
      border-top: 1px solid #ebebeb;
      padding: 10px 0;

    }

    .net-block {
      margin-top:0;
    }

		.page-head-block {

			.head {
				font-size: 66px;
			}

			.text-block {
				bottom: 30px;
			}

		}

		.article-column {
			order:2;
			width: 100%;
		}

		 .article {

      .content-block-column {

        a {
        font-size: 22px;
        }

        .heading {
          font-size: 12px;
        }

        .autor-name {
          font-size: 14px;
        }

        .article-announcement-text {
        	font-size: 16px;

        }

      }

    }

		.sidebar {
			order:1;
			width: 100%;
			

			.autor-name {
			margin: auto;
			margin-bottom: auto;
			}

		}

		.sidebar-autor-block {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			.article-announcement-photo {
				width: 64px;
				height: 64px;
			}			

		}

		.mobile-block-wrap {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
		}

		.img-description {
			margin-left: 10px;
		}

		.article-announcement-block {
			display: flex;
			margin-bottom: 0;
		}

		.article-announcement-text {
      display: flex;
        	
    }

		.autor-desctiption {
			display: none;
		}

		.autor-name {
			margin: auto;
			margin-bottom: 0;
		}

		.sidebar-blurb-block {
			order: 2;
		}

		.sidebar-article-block {
			
			.sidebar-article-wrap {

				&:last-child {
					border-bottom: none;
				}

			}

		}

	}

	.article-description {
		font-size: 18px;
	}

	.article-text {
		font-size: 16px;
	}

	.autor-text {
		font-size: 18px;
	}	


	/*--------------------------------------------------------article----------------------------------------------------------*/

	.article-page {

    .page-heading {
        font-size: 46px;
     }

  }

/*---------------------------------------------------------autor--------------------------------------------------------------*/

.autor-page {

	.border-block {
    border-top: 1px solid #ebebeb;
    border-bottom: none;    
   }

		.sidebar {
			display: none;
		}

		.autor-top-block {
    display: flex;
    flex-direction: column;    
    position: relative;
		}

		.autor-img-block {
			position: static;
			margin: 0 auto;
		}

		.autor-description-wrap {
			width: 100%;
			text-align: center;
		}

		.autor-description {
			display: block;
		}

	}	

	/*----------------------------------------------------------card----------------------------------------------------*/

	 .card-page {

		.article-flex-wrap {
			padding: 0 35px;
		}

		.sidebar-autor-block {
	    display: flex;
	    justify-content: space-around;
	    width: 100%;
		}

	 }

	/*-------------------------------------------------------card1-----------------------------------------------------------*/

  .card1-page {

  	.card-img-description-block {   
      flex-direction: row;      
    } 

    .article-flex-wrap {
      padding: 0 65px;
    }

    .image-number {	        
	    font-size: 131px;	    
	  }   

    .image-number-border-1 {
    background: url(../images/icon-border-1.png) no-repeat;
    width: 210px;
    height: 194px;   
    margin-top: -97px;   
    margin-left: -105px;    
  	}

  .image-number-border-2 {
    background: url(../images/icon-border-2.png) no-repeat;
    width: 197px;
    height: 212px;   
    margin-top: -99px;    
    margin-left: -106px;
  	}

  .image-number-border-3 {
    background: url(../images/icon-border-3.png) no-repeat;
    width: 197px;
    height: 192px;   
    margin-top: -99px;    
    margin-left: -96px;
  	}

  .image-number-border-4 {
    background: url(../images/icon-border-4.png) no-repeat;
    width: 197px;
    height: 212px;   
    margin-top: -99px;    
    margin-left: -106px;
  	}

   .image-number-border-5 {
    background: url(../images/icon-border-5.png) no-repeat;
    width: 190px;
    height: 189px;   
    margin-top: -95px;    
    margin-left: -95px;
  	}

  } 

  /*-----------------------------------------------------longrid-----------------------------------------------------*/

	.longrid-page {
		
		.article-image-block-flex {  
    justify-content: center; 

  	} 

  	.quote-autor-wrap {
  		justify-content: space-between;
  		margin: 20px auto;
  	}

  	.autor-block-left {
      position: static;
    }

    .quote-autor-block {
      width: 65%;
    }

	}     

}