$icon-font-path: '../fonts/';

@media only screen and (min-width:1366px) {	

	.header{
		margin-bottom: 0;
		width: auto;
		margin-left: 14px;
		margin-right: 14px;

		.navbar-nav {
			display: block;
		}

		.navbar-top-nav-left {
			width: 41%;
		}

		.navbar-top-nav-right {
			width: 41%;
		}

		.navbar-nav-right {
			width: 38%;
		}

		.navbar-nav-right {
			width: 38%;
		}

		.navbar-button-mob {
			display: none;
		}	

		.navbar-default-top {			    
		    border-bottom: 1px solid #ebebeb;
		}

		.drop-navbar {
			display: block;
		}

	}

	.pagewrap {
		width: 1320px;

		 .content-wrap {
   		width: 100%;

    }  	



	}	

.mobile-flex-wrap-top {
display: flex;
justify-content: space-between;
width: 45%;
}

.mobile-flex-wrap-bottom {
	display: flex;
   justify-content: space-between;
   width: 50%;
   margin-top: 0;
}

.footer{

		.mobile-flex-wrap-top {
		display: flex;
   	justify-content: space-between;
   	width: 45%;
   	flex-direction: row;

	   	.net-block {
			margin-top: 0;
			}

		}		

		.mobile-flex-wrap-bottom {
				display: flex;
		   justify-content: space-between;
		   flex-direction: row;
		   width: 53%;
		   margin-top: 0;
		}

	}

/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.responsive-block-1 {
			display: block;
		}

		.responsive-block-13 {
			display: none;
		}

		.page-mobile-wrap {
      width: 1320px;
    }

		.statistic-top-block {
			padding-top: 0;
		}		

		.statistic-top-block {
			border-top: none;
		}

		.page-head-block {

			.head {
				font-size: 66px;
			}

			.text-block {
				bottom: 65px;
			}

		}

		.article-wrap {
    	max-width: 780px;    
  	} 

		.article-flex-wrap	{
			flex-direction: row;
    		max-width: 1075px;    
  		}
		

		.article-description {
			font-size: 24px;
		}

		.sidebar {
			display: block;
			width: 300px;
			order: 2;
			margin-left: 30px;
			flex-direction:row;

			.autor-name {
			margin-bottom: 10px;
			}

		}

		.mobile-block-wrap {
			display: flex;
			flex-direction:column;
		}

		.article-column {
	    width: calc(100% - 330px);
	    margin: 0 auto;
	    order: 1;
  	}

  	.article-left-column {
  		margin: 0 auto 0 0;
  	}

  	.article {  		
			margin-top: 20px;
  	}  

		.img-description {
			margin-left: 0;
		}

		.sidebar-autor-block {
			display: block;			
		}

		.article-announcement-block {
			margin-bottom: 30px;
		}

		.article-announcement-text {
			display: inline-block;
		}

		.autor-desctiption {
			display: block;
		}

		.autor-name {
			margin-bottom: 10px;
		}

		.sidebar-autor-block {
			margin-bottom: 20px;

			.article-announcement-photo {
				width: 84px;
				height: 84px;
			}

		}

		.sidebar-blurb-block {
			display: block;
			order: 0;
		}

		.sidebar-article-block {
			display: block;
		}

	}	

	/*------------------------------------------------------------------article-------------------------------------------------*/ 

	.article-page {

		.statistic-top-block {
			padding-top:30px;
			 border-top:1px solid #ebebeb;
		}

		.page-heading {
			font-size: 52px;
		}

	}

/*---------------------------------------------------------------------autor---------------------------------------------------------------------*/

	.autor-page {

		.border-block {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;    
   }

	 .article-flex-wrap {
	    max-width: 1515px;	   
	  }

	  .autor-description-wrap {
			text-align: left;
	  }

	  .autor-top-block {
    display: flex;
    flex-direction: row;
    margin: 68px auto;
    justify-content: flex-end;    
		}

		.autor-img-block {    
    position: absolute;
    top: -68px;
    left: -58px;
  	}

  	.autor-description-wrap {
    	width: calc(100% - 541px);
    
  	}

		.sidebar {
			display: none;
		}

	} 

	/*----------------------------------------------------------card----------------------------------------------------*/

	 .card-page {

		.article-flex-wrap {
			padding: 0;
		}

	 }

	/*-------------------------------------------------------card1-----------------------------------------------------------*/

  .card1-page {

    .article-flex-wrap {
      padding: 0;

    }

  }

  /*-----------------------------------------------------longrid-----------------------------------------------------*/

	.longrid-page {
		
		.article-image-block-flex {  
    justify-content: flex-start;    
  	}

  	.comment-wrap {
  		width: 925px;
  	}

  	.statistic-bottom-block {
			border-bottom: 0;
			margin: 20px 0;
  	}	

	}

 /*------------------------------------------poglyuad-------------------------------------------------------------------*/

  .poglyad-page {

  	.owl-nav {
		display: none;
  	}

  }	


  /*---------------------------------------------special-----------------------------------------*/

  .interview-page.special-page {  

	  .article-column {
	    margin: 0 auto 0 0;
	  }

  }

  .article-right-column {
    order: 2;

    .img-wrap {
      margin-top: 50%;
    }

  }		  

}