$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:968px) {

  .pagewrap {
    width: 940px;
  }

  .footer-flex-block {
    flex-direction: row;
  }

  .mobile-flex-wrap-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .net-block {
    margin-top: 0;
  }

  .mobile-flex-wrap-bottom {
    flex-direction: row;
     justify-content: space-between;
  }

  .footer-copyright-wrap  {
    margin-top: 0;

  }
  
}
