$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:768px) {

	.navbar-toggle{
		display: block;
	}

  .content-block {
    float: left;
    width: 24%;
  }

  .content-block-center {
    float: left;
    width: 24%;
  }

}
