$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen and (min-width:1366px) {
	
	.header{
		margin-bottom: 0;
		width: auto;

		.navbar-nav {
			display: block;
		}

		.navbar-button-mob {
			display: none;
		}	

		.navbar-default-top {			    
		    border-bottom: 1px solid #ebebeb;
		}

		.drop-navbar {
			display: block;
		}

	}

	.pagewrap {
		width: 1320px;

		 .content-wrap {
   		width: 100%;

    }  	

		.responsive-block-1 {
			order:1;
		}

		.responsive-block-2 {
			order:2;
		}

		.responsive-block-3 {
			order:3;
		}

		.responsive-block-4 {
			order:10;
		}

		.responsive-block-5 {
			order:4;
		}

		.responsive-block-6 {
			order:5;
		}

		.responsive-block-7 {
			order:6;
		}

		.responsive-block-8 {
			order:7;
		}

		.responsive-block-9 {
			order:9;
		}

		.responsive-block-10 {
			order:8;
		}

		.responsive-block-11 {
			order:14;
		}

		.responsive-block-12 {
			order:12;
		}

		.responsive-block-13 {
			order:11;
		}

		.responsive-block-14 {
			order:10;
		}

	}	

.mobile-flex-wrap-top {
display: flex;
justify-content: space-between;
width: 45%;
}

.mobile-flex-wrap-bottom {
	display: flex;
   justify-content: space-between;
   width: 50%;
   margin-top: 0;
}

.footer{

		.mobile-flex-wrap-top {
		display: flex;
   	justify-content: space-between;
   	width: 45%;
   	flex-direction: row;

	   	.net-block {
			margin-top: 0;
			}

		}		

		.mobile-flex-wrap-bottom {
			display: flex;
	   justify-content: space-between;
	   flex-direction: row;
	   width: 53%;
	   margin-top: 0;
		}

	}




/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

		.page-mobile-wrap {
      width: 1320px;
    }

		.statistic-top-block {
			padding-top: 0;
		}		

		.statistic-top-block {
			border-top: none;
		}

		.page-head-block {

			.head {
				font-size: 66px;
			}

			.text-block {
				bottom: 65px;
			}

		}

		.article-wrap {
    	max-width: 780px;    
  	} 

		.article-flex-wrap	{
			flex-direction: row;
    	max-width: 1220px;    
  		}
		

		.article-description {
			font-size: 24px;
		}

		.sidebar {
			display: block;
			width: 300px;
			order: 2;
			margin-left: 30px;

			.autor-name {
			margin-bottom: 10px;
			}

		}

		.article-column {
	    width: calc(100% - 330px);
	    margin: 0 auto;
	    order: 1;
  	}

  	.article-left-column {
  		margin: 0 auto 0 0;
  	}

  	.article {  		
			margin-top: 20px;
  	}  

		.img-description {
			margin-left: 0;
		}

		.sidebar-autor-block {
			display: block;			
		}

		.article-announcement-block {
			margin-bottom: 30px;
		}

		.article-announcement-text {
			display: inline-block;
		}

		.autor-desctiption {
			display: block;
		}

		.autor-name {
			margin-bottom: 10px;
		}

		.sidebar-autor-block {
			margin-bottom: 20px;

			.article-announcement-photo {
				width: 84px;
				height: 84px;
			}

		}

		.sidebar-blurb-block {
			display: block;
		}

		.sidebar-article-block {
			display: block;
		}

	}	

	/*------------------------------------------------------------------article-------------------------------------------------*/ 

	.article-page {

		.statistic-top-block {
			padding-top:30px;
			 border-top:1px solid #ebebeb;
		}

		.page-heading {
			font-size: 52px;
		}

	}

/*---------------------------------------------------------------------autor---------------------------------------------------------------------*/

	.autor-page {

	 .article-flex-wrap {
	    max-width: 1515px;	   
	  }

	}  	  

}