$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

.poglyad-page {

  .content-block-max {
    padding: 0;
  

  .autor-block {
    width: 100%; 

    .autor-img-block {
    width: 371px;
    height: 402px;

      .template-img {
        background-position: -29px -15px;
        width: 371px;
        height: 419px;
      }

    }

  }  

 } 

 .autor-block-name {
    margin-top: 0;
  }  

}

  
  