$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

.special-page { 

  .article-column {
    position: relative;
  } 

  .top-heading {
    font-size: 18px;
  }

  .page-head-block-description {
    font-size: 24px;
    font-weight: 700;
  }

  .page-head-block {

    .text-block {
      bottom: 40px;
    }

  }

  .article-block-title {
    font-family: 'MetaPro', sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 20px;
  }

  .article-right-column {
    order: 2;

    .img-wrap {
      margin-top: 50%;
    }

  }

}

  
  