$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background: #ccc;
}

h1 {
  font-family: 'MetaPro', sans-serif;
}
