$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";
@import "_header";
@import "_footer";
@import "_component";

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

li {
  list-style: none;
}

h1 {
  font-family: 'MetaPro', sans-serif;
}

