$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fonts.scss";
@import "_header";
@import "_footer";
@import "_component";

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;

  input {

    &:focus {
      box-shadow: none;
    }

  }

  .form-control  {


    &:focus {
      border-color: #ccc;
      box-shadow: none;
    }

  }

}

li {
  list-style: none;
}

h1 {
  font-family: 'MetaPro', sans-serif;
}

.banner {
  text-align: center;
  width: 100%;
}


.main {

  .img-wrap {
    max-width: 100%;
    text-align: center;

    img {
      max-width: 100%;
    }

  }

}


.content-wrap {
  overflow: hidden;
}

.content-menu {
  text-align: center;
}

.content-menu-link {
  display: inline-block;
  padding: 15px;

  a {
   text-transform: uppercase;
  }

}


  @import "_min-768.scss";
  @import "_min-992.scss";
  @import "_min-1200.scss";
  @import "_min-1366.scss";
  @import "_min-1920.scss";
  @import "_max-767.scss";
